@import '../../utils/variables.scss';
@import '../../utils//mixins.scss';

.auth-container {
    // margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // width: 90vw;
    // height: 50vh;
    margin: 2rem 2rem;
    // border: 1px solid red;
    color: $dark;

    h2 {
        font-size: 4rem;
        margin: 3rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        // height: 100%;
        // padding-top: 10%;
        // border: 1px solid blue;

        .input {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // align-items: center;
            // border: 1px solid red;
            margin: 20px 0;

            label {
                font-size: 3rem;
                margin: 5px 0;
            }
            input {
                @include input;
                font-size: 2.5rem;
            }
        }

        button {
            font-size: 3rem;
            font-weight: bold;
            color: $dark;
            background: $mid-green;
            width: 70%;
            // height: 3rem;
            padding: 1rem;
            margin: 2rem;
            border-radius: 10px;
            border: 1px solid $dark;
        }

        .error {
            color: $mid-red;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
        }
    }
}
