@import '../../utils/variables.scss';

.welcome {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // width: 90vw;
    height: 50vh;
    padding: 2rem;
    color: $dark;

    h2 {
        font-size: 3rem;
    }

    .instructions {
        font-size: 2rem;

        .link {
            color: $dark-blue;
        }
    }
}
