// $light: #e1eafa;
// $mid-green: #0fcf29;
// $mid-blue: #80b3ff;
// $mid-red: #c60247;
// $dark: #021340;

$light: #ececec;
$mid-green: #f7d977;
$mid-blue: #90ccf4;
$mid-red: #f78888;
$dark-blue: #5da2d5;
$dark: #021340;
