@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../variables.scss';

.rlc-calendar {
    margin: 5px;
    // font-family: 'Roboto', sans-serif;
    // width: 100;
    height: 100vw;
    max-width: 500px;
    max-height: 500px;
    // border: 1px solid #e5e5e5;
    background: $light;
    border-radius: 15px;
    // box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.75);
    color: $dark;
}

.rlc-days-label,
.rlc-days {
    width: 100%;
}

.rlc-days-label {
    text-transform: uppercase;
    font-size: 1.3rem;
    height: 4%;
}

.rlc-days {
    font-size: 12px;
    height: 70%;
}

.rlc-day-label,
.rlc-day {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 14%;
    height: 14%;
    text-align: center;
    box-sizing: border-box;
}

.rlc-day {
    cursor: pointer;
    user-select: none;
}

.rlc-day-today {
    color: $dark;
    border: 3px solid $mid-blue;
    border-radius: 50%;
}

.rlc-day-default:hover {
    background-color: $light;
    color: $mid-blue;
    border-radius: 50%;
}

.rlc-day-out-of-month {
    color: $dark;
    opacity: 0.5;
}

.rlc-day-selected,
.rlc-day-start-selection,
.rlc-day-end-selection,
.rlc-day-inside-selection {
    color: $light;
    background-color: $dark-blue;
}

.rlc-day-selected:hover,
.rlc-day-start-selection:hover,
.rlc-day-end-selection:hover,
.rlc-day-inside-selection:hover {
    background-color: $dark-blue;
}

.rlc-day-selected {
    border-radius: 50%;
}

.rlc-day-start-selection {
    border-radius: 50% 0px 0px 50%;
}

.rlc-day-end-selection {
    border-radius: 0px 50% 50% 0px;
}

.rlc-day-inside-selection {
    border-radius: 0%;
}

.rlc-day-disabled {
    background-color: #f5f5f5;
    border-radius: 0px;
    cursor: default;
    color: #cecece;
}

.rlc-day-disabled:hover {
    background-color: #f5f5f5;
}

.rlc-month-and-year-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $dark-blue;
    border-top: 2px solid $dark-blue;
    padding: 10px 0px;
    margin: 5px 0;
}

.rlc-month-and-year {
    flex-grow: 2;
    text-align: center;
    // text-transform: uppercase;
    font-size: 2rem;
}

.rlc-navigation-button-wrapper {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    user-select: none;
}

.rlc-navigation-button {
    cursor: pointer;
}

.rlc-details {
    display: flex;
    justify-content: space-between;
}

.rlc-date-details-wrapper {
    // flex-grow: 1;
    margin: 5px;
}

.rlc-date-details {
    // display: flex;
    // flex-direction: column;
    padding: 0 5px;

    .weekDay,
    .dateFormat {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }

    // flex-grow: 1;
}

.rlc-date-number {
    font-size: 35px;
    padding: 0px 5px;
}

.rlc-date-day-month-year {
    font-size: 12px;
}

.rlc-detail-day {
    margin-bottom: 2px;
}

.rlc-detail-month-year {
    // text-transform: uppercase;
}

.rlc-date-time-selects {
    // padding: 0px 10px;
    input {
        width: 3rem;
        font-size: 2rem;
        color: $dark;
        text-align: center;
        background: none;
        border: none;
        border-bottom: 2px solid $dark;

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type='number'] {
            -moz-appearance: textfield;
        }

        &:focus {
            border: 1px solid $mid-blue;
        }
    }

    select {
        // width: 3rem;
        font-size: 1.5rem;
        color: $dark;
        text-align: center;
        background: none;
        border: none;

        // option {
        //     display: none;
        //     // visibility: hidden;
        // }
    }
}

.rlc-time-separator {
    margin: 0px 5px;
    font-size: 2rem;
    color: $dark;
}

.rlc-day-marked::after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    margin-top: 11.5px;
    z-index: 1;
    position: absolute;
}

.rlc-day-today.rlc-day-marked::after {
    background-color: $light;
}
