@import '../../utils/variables.scss';

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $mid-blue;
    color: $dark;
    width: 100%;
    // position: fixed;

    .left {
        display: flex;
        .back-container {
            align-self: flex-start;
            display: flex;
            align-items: flex-start;
            text-decoration: none;
            color: $dark;
            // border: 1px solid red;

            .back-icon {
                font-size: 2.5rem;
                margin: 5px;
            }

            // .back-title {
            //     font-size: 2rem;
            // }
        }
        .app-title {
            font-size: 2.5rem;
            padding: 0.5rem;
        }
    }

    .center {
        font-size: 2rem;
        padding: 0.5rem;
        color: $dark;
    }

    .menu-icon {
        font-size: 2.5rem;
        color: $dark;
        margin: 10px;
    }

    .nav-buttons {
        display: flex;
        justify-content: space-around;

        .link {
            margin: 0.5rem;
            color: blue;
            text-decoration: none;
            font-size: 2rem;
        }
        .active {
            text-decoration: underline;
        }
    }
}
