@import '../../utils/variables.scss';

.workspace {
    width: 39.5vw;
    height: 39.5vw;

    max-width: 15rem;
    max-height: 15rem;

    margin: 7vw 0 0 7vw;
    padding: 3%;
    border-radius: 15px;

    background: $mid-green;
    color: $dark;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .ws-card-title {
        font-size: 3rem;
        font-weight: bold;
        padding: 5px;
    }
    .ws-card-role {
        font-size: 1.3rem;
        font-style: italic;
    }
    .ws-card-desc {
        font-size: 1.5rem;
        padding: 5px;
    }
}
