@import '../../utils/variables.scss';

.ws-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ws-header {
    padding: 1rem;
    width: 100%;
    color: $dark;

    // border: 1px solid red;

    .ws-title-container {
        display: flex;
        justify-content: center;
        align-items: baseline;
        .ws-name {
            font-size: 3rem;
            margin-right: 5px;
        }
        .ws-role {
            font-size: 1.4rem;
            font-style: italic;
        }
    }

    .desc-container {
        display: flex;
        justify-content: center;
        width: 90%;
        font-size: 1.8rem;
        padding: 1rem;
        .ws-desc {
            // display: flex;
            // align-items: flex-end;
        }
        .show-desc {
            font-style: italic;
            text-decoration: underline;
            color: $dark-blue;
            margin-left: 5px;
        }
    }

    // .ws-date {
    //     font-size: 1.2rem;
    //     display: flex;
    //     align-items: flex-end;
    //     padding: 0 1rem;
    // }
}
