@import '../../utils/variables.scss';

.new-ws {
    // margin: 1rem auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    // width: 90%;
    // background: $mid-green;
    // border: 3px solid $mid-green;
    // border-radius: 15px;

    width: 39.5vw;
    height: 39.5vw;

    max-width: 15rem;
    max-height: 15rem;

    margin: 7vw 0 0 7vw;
    padding: 3%;
    border-radius: 15px;

    background: $mid-green;
    color: $dark;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .new-ws-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        // padding: 1rem;

        h4 {
            font-size: 2.5rem;
            color: $dark;
            opacity: 0.5;
        }
        .add-ws-icon {
            // width: 100%;
            font-size: 9rem;
            color: $dark;
            opacity: 0.5;
        }
    }

    .ws-form-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 102vh;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;

        .ws-form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 85vw;
            height: 85vw;
            background: $light;
            // border: 5px solid $dark;
            border-radius: 15px;
            // margin: 1rem;
            padding: 1rem;

            .input-container {
                margin: auto;
                width: 90%;
                // min-height: 25%;
                label {
                    font-size: 2.3rem;
                    font-weight: bold;
                }

                input {
                    width: 90%;
                    height: 3rem;
                    font-size: 3rem;
                    // padding-top: 2rem;
                    // border-radius: 15px;
                    margin: 0.5rem 0 1rem 0;
                    background: none;
                    border: none;
                    border-bottom: 3px solid $dark;
                    // display: flex;
                    // align-items: flex-end;
                    &:focus {
                        outline: none;
                    }
                }

                .textarea-lines {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 8rem;
                    // margin: 0.rem 0;
                    // border: 1px solid red;
                    textarea {
                        position: absolute;
                        top: 0;
                        width: 90%;
                        height: 7rem;
                        font-size: 2.6rem;
                        line-height: normal;
                        // padding: 1rem;
                        // margin: 1rem 0;
                        resize: none;
                        background: none;
                        border: none;
                        // border: 1px solid red;
                        z-index: 2;
                        &:focus {
                            outline: none;
                        }
                    }

                    .line {
                        border-bottom: 3px solid $dark;
                        width: 90%;
                        height: 2.6rem;
                    }
                }
            }

            .new-ws-btns {
                display: flex;

                button {
                    margin: 1rem;
                    width: 45%;
                    height: 5rem;
                    border-radius: 15px;
                    font-size: 2.5rem;
                    color: $dark;
                    font-weight: bold;
                }
                button:first-child {
                    background: $mid-green;
                }
                button:last-child {
                    background: $mid-red;
                }
            }
        }
    }
    .hide {
        display: none;
    }
}
