@import '../../utils/variables.scss';

.edit-goal {
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    background: $dark-blue;
    border-radius: 10px;

    .new-goal-button {
        display: flex;
        // justify-content: flex-start;
        font-size: 3rem;
        color: $dark;
        margin: 5px;
        width: 100%;
        // align-items: baseline;
        // width: 90%;
        // padding: 1rem;

        // .add-goal-icon {
        //     margin-right: 5px;
        // }
        p {
            margin-left: 1.5rem;
            // font-size: 2rem;
            // color: $dark;
        }
    }

    .goal-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // width: 90%;
        // border: 1px solid blue;
        // margin: 1rem;
        // padding: 1rem;

        label {
            margin-top: 1rem;
            font-size: 1.5rem;
        }

        .goal-title {
            font-size: 3rem;
            color: $dark;
            input {
                color: $dark;
                width: 70%;
                height: 3rem;
                font-size: 3rem;
                margin: 0.5rem 0 1rem 1.5rem;
                background: none;
                border: none;
                border-bottom: 1px solid $dark;
                &:focus {
                    outline: none;
                }
            }
        }

        .edit-goal-bottom-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: baseline;
            .delete-icon {
                font-size: 2.7rem;
                color: $dark;
                margin: 1rem 0 0 0.5rem;
            }
            .screen-reader-only {
                position: absolute;
                left: -10000px;
                top: auto;
                width: 1px;
                height: 1px;
                overflow: hidden;
            }

            .new-ws-btns {
                display: flex;
                justify-content: flex-end;
                button {
                    margin: 0.5rem;
                    // width: 23%;
                    height: 2.5rem;
                    border-radius: 5px;
                    font-size: 1.5rem;
                    color: $dark;
                    font-weight: bold;
                }
                button:first-child {
                    background: $mid-green;
                }
                button:last-child {
                    background: $mid-red;
                }
            }
        }
    }

    .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 102vh;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        .confirm-delete {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 85vw;
            height: 85vw;
            background: $light;
            border-radius: 15px;
            padding: 1rem;
            z-index: 3;
            h3 {
                font-size: 3rem;
                color: $mid-red;
            }
            p {
                font-size: 2rem;
                color: $dark;
                width: 90%;
                span {
                    color: $mid-red;
                }
            }
            .new-ws-btns {
                display: flex;
                justify-content: space-around;
                width: 100%;
                button {
                    margin: 0.5rem;
                    width: 40%;
                    // height: 2.5rem;
                    padding: 1rem;
                    border-radius: 10px;
                    font-size: 2.5rem;
                    color: $dark;
                    font-weight: bold;
                }
                button:first-child {
                    background: $mid-red;
                }
                button:last-child {
                    background: $mid-green;
                }
            }
        }
    }

    // .hide {
    //     display: none;
    // }
}
